# Managed by Ansible: storage-security-baseline
PermitRootLogin {{ storage_permit_root_login }}
PasswordAuthentication {{ storage_password_authentication }}
PubkeyAuthentication {{ storage_pubkey_authentication }}
